<p><%= @contact.first_name %></p>
<p><%= @contact.last_name %></p>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_contact_path(@contact) %>
<%= link_to "Delete", contact_path(@contact), method: :delete, data: { confirm: "Are you sure ?" } %>
